executables/*
!executables/.keep
!executables/yaml2json
config/*
!config/.keep
*.DS_Store

*localrc.symlink

*-apache.conf

apache/original
apache/extra

home/tmux.symlink/plugins/*
!home/tmux.symlink/plugins/.keep
